
body{
  text-align: center;

    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
font-family: 'Tangerine', cursive;
}
body{
  background-image: url(../img/mainimg.jpg);
  background-size: cover;
  height: 100vh;

}
h2{
  font-size: 30px;
}
*{
  margin: 0;
  padding: 0;
}
.parah{
  font-size: 25px;
  line-height: 20px;

}
.form-box{
  border-radius: 10px;
  width: 460px;
  background: rgba(0, 0, 0, 0.5);
  margin: 10% auto;
  padding: 30px 0;
  color: #fff;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
  margin-left: 20px;
  margin-top: 90px;
}
.bottom-color{

    border-radius: 10px;
    width: 650px;
    background: rgba(0, 0, 0, 0.5);
    margin: 25% auto;
    padding: 30px 0;
    color: #fff;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);

}
.emojis{
  line-height: 20px;
  margin-left: 10px;
}
.btn {
  background: #3c4c57;
  background-image: -webkit-linear-gradient(top, #3c4c57, #4085ad);
  background-image: -moz-linear-gradient(top, #3c4c57, #4085ad);
  background-image: -ms-linear-gradient(top, #3c4c57, #4085ad);
  background-image: -o-linear-gradient(top, #3c4c57, #4085ad);
  background-image: linear-gradient(to bottom, #3c4c57, #4085ad);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #1c1c1c;
  -webkit-box-shadow: 0px 1px 14px #3f4852;
  -moz-box-shadow: 0px 1px 14px #3f4852;
  box-shadow: 0px 1px 14px #3f4852;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 12px 10px 12px;
  text-decoration: none;
}

.btn:hover {
  background: #3687ba;
  background-image: -webkit-linear-gradient(top, #3687ba, #324552);
  background-image: -moz-linear-gradient(top, #3687ba, #324552);
  background-image: -ms-linear-gradient(top, #3687ba, #324552);
  background-image: -o-linear-gradient(top, #3687ba, #324552);
  background-image: linear-gradient(to bottom, #3687ba, #324552);
  text-decoration: none;
}
.btn1{
  float: right;
  margin-right: 100px;
  margin-top: 70px;

}
.btn1 {
  background: #3c4c57;
  background-image: -webkit-linear-gradient(top, #3c4c57, #4085ad);
  background-image: -moz-linear-gradient(top, #3c4c57, #4085ad);
  background-image: -ms-linear-gradient(top, #3c4c57, #4085ad);
  background-image: -o-linear-gradient(top, #3c4c57, #4085ad);
  background-image: linear-gradient(to bottom, #3c4c57, #4085ad);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #1c1c1c;
  -webkit-box-shadow: 0px 1px 14px #3f4852;
  -moz-box-shadow: 0px 1px 14px #3f4852;
  box-shadow: 0px 1px 14px #3f4852;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 12px 10px 12px;
  text-decoration: none;
}

.btn1:hover {
  background: #3687ba;
  background-image: -webkit-linear-gradient(top, #3687ba, #324552);
  background-image: -moz-linear-gradient(top, #3687ba, #324552);
  background-image: -ms-linear-gradient(top, #3687ba, #324552);
  background-image: -o-linear-gradient(top, #3687ba, #324552);
  background-image: linear-gradient(to bottom, #3687ba, #324552);
  text-decoration: none;
}
